
[run]
branch=False
parallel = true
source = app
omit = 
    .venv/*

[pytest]
junit_family=xunit1

[html]
directory = docs/coverage

[xml]
output = cov.xml

[report]
show_missing = true
precision = 2