aioaws==0.12; python_version >= "3.8"
aiofiles==0.8.0; python_version >= "3.8" and python_version < "4.0"
alembic==1.7.7; python_version >= "3.6"
anyio==3.5.0; python_version >= "3.8" and python_full_version >= "3.6.2"
argon2-cffi-bindings==21.2.0; python_version >= "3.6"
argon2-cffi==21.3.0; python_version >= "3.6"
asgiref==3.5.0; python_version >= "3.7"
boto3==1.21.45; python_version >= "3.6"
botocore==1.24.45; python_version >= "3.6"
certifi==2021.10.8; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.8"
cffi==1.15.0; python_version >= "3.8"
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3.8"
click==8.1.2; python_version >= "3.7"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" and platform_system == "Windows" or sys_platform == "win32" and python_full_version >= "3.5.0" and python_version >= "3.7" and platform_system == "Windows"
cryptography==36.0.2; python_version >= "3.8"
disposable-email-domains==0.0.72
dnspython==2.2.1; python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.6.1" and python_full_version < "4.0.0"
email-validator==1.1.3; python_full_version >= "3.6.1" and python_version >= "3.8" and python_full_version < "4.0.0" and python_version < "4.0"
exrex==0.10.5; python_version >= "3.7" and python_version < "4.0"
faker==13.3.5; python_version >= "3.6"
fastapi-pagination==0.9.3; python_version >= "3.7" and python_version < "4.0"
fastapi==0.75.2; python_full_version >= "3.6.1"
greenlet==1.1.2; python_version >= "3" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_full_version >= "3.6.1" and python_full_version < "4.0.0" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
gunicorn==20.1.0; python_version >= "3.5"
h11==0.12.0; python_version >= "3.8"
httpcore==0.14.7; python_version >= "3.8"
httptools==0.3.0; python_full_version >= "3.5.0"
httpx==0.22.0; python_version >= "3.8"
idna==3.3
jmespath==1.0.0; python_version >= "3.7"
langcodes==3.3.0; python_version >= "3.6"
loguru==0.6.0; python_version >= "3.5"
mako==1.2.0; python_version >= "3.7"
markupsafe==2.1.1; python_version >= "3.7"
passlib==1.7.4
pendulum==2.1.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
psycopg2-binary==2.9.3; python_version >= "3.6"
pycparser==2.21; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.8"
pydantic-factories==1.2.7; python_version >= "3.7" and python_version < "4.0"
pydantic==1.9.0; python_full_version >= "3.6.1"
python-dateutil==2.8.2; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.5.0" and python_version >= "3.7" and python_version < "4.0"
python-dotenv==0.19.2; python_version >= "3.5"
python-multipart==0.0.5
python-stdnum==1.17
pytz==2022.1
pytzdata==2020.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
pyyaml==6.0; python_version >= "3.6"
requests==2.27.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
rfc3986==1.5.0; python_version >= "3.8"
s3transfer==0.5.2; python_version >= "3.6"
sentry-sdk==1.5.10
six==1.16.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
sniffio==1.2.0; python_version >= "3.8" and python_full_version >= "3.6.2"
sqlalchemy2-stubs==0.0.2a22; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
sqlalchemy==1.4.35; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
sqlmodel==0.0.6; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
starlette==0.17.1; python_version >= "3.7" and python_full_version >= "3.6.1" and python_version < "4.0"
typing-extensions==4.2.0; python_full_version >= "3.6.1" and python_version >= "3.8" and python_full_version < "4.0.0" and python_version < "4.0"
ua-parser==0.10.0
urllib3==1.26.9; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6"
user-agents==2.2.0
uvicorn==0.16.0
uvloop==0.16.0; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" and python_version >= "3.7"
watchgod==0.8.2; python_version >= "3.7"
websockets==10.3; python_version >= "3.7"
win32-setctime==1.1.0; sys_platform == "win32" and python_version >= "3.5"
